.contacts-body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
}
.contacts-page{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  margin: 5% 20%;
  width: 40rem;
  border-radius: 20px;
  padding-top: 2rem;
  color: wheat;
  text-align: center;
  margin: 0 auto;
    width: 90%;
    margin: 0 auto;
    padding: 1rem .5rem;
    height: max-content;
}
.contacts-page a{
    text-decoration: none;
  
  }
.contacttext{
    color: white;
}
@media (max-width: 770px) {
    .contacts-page {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6%;
        margin: 10px 10%;
      }
}
